In [ ]:

# Example 40: Pandas - Using drop_duplicates() for Unique Rows

In [1]:
import pandas as pd

# Creating a DataFrame with duplicate rows
data = {'Name': ['Alice', 'Bob', 'Alice', 'Charlie'], 'Score': [85, 70, 85, 95]}
df = pd.DataFrame(data)

# Dropping duplicate rows
unique_df = df.drop_duplicates()

print('DataFrame after Dropping Duplicates:\n', unique_df)

DataFrame after Dropping Duplicates:
       Name  Score
0    Alice     85
1      Bob     70
3  Charlie     95