In [ ]:
# Example 28: Pandas - Concatenating DataFrames

In [ ]:
import pandas as pd

# Creating DataFrames
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Concatenating DataFrames
concat_df = pd.concat([df1, df2], ignore_index=True)

print('Concatenated DataFrame:\n', concat_df)

Concatenated DataFrame:
    A  B
0  1  3
1  2  4
2  5  7
3  6  8